* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.box {
    width: 30%;
    height: 450px;
    padding: 0 0 0 50%;
    margin: 60px auto 0;
    border-radius: 4px;
    border: 1px #ddd solid;
}

.Signup {
    width: 100%;
    height: 630px;
    display: block;
    background: #f5f5f5;
    &__title{
        font-size: 22px;
        font-weight: bold;
        padding: 32px;
        line-height: 33px;
        text-align: center;
    }
    &__head{
        width: 700px;
        height: 70%;
        margin: 0 auto;
        background: #f5f5f5;
        &__form {
            padding: 24px 16px 136px;
            background: #fff;
            border-top: 1px solid rgb(245, 245,245);
            &__field{
                margin: 0;
                label{
                    font-weight: 600;
                    font-size: 13px;
                }
                &__require {
                    background: #ea352d;
                    margin: 0 0 0 8px;
                    padding: 2px 4px;
                    border-radius: 2px;
                    color: #fff;
                    font-size: 12px;
                    right: 12px;
                }
                
            }
        }
    }
}



.next-btn{
    text-decoration:none;
    margin: 24px 0 0;
    background: #ea352d;
    border: 1px splid #ea352d;
    color: #fff;
    display: block;
    width: 100px;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor:pointer;
    text-align: center;
}


.next-btn:link{
    margin: 24px 0 0;
    background: #ea352d;
    border: 1px splid #ea352d;
    color: #fff;
    display: block;
    width: 100px;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor:pointer;
    text-align: center;
}

.next-btn:visited{
    margin: 24px 0 0;
    background: #ea352d;
    border: 1px splid #ea352d;
    color: #fff;
    display: block;
    width: 100px;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor:pointer;
    text-align: center;
}

.next-btn:hover{
    margin: 24px 0 0;
    background: #ea352d;
    border: 1px splid #ea352d;
    color: #3CCACE;
    text-decoration:underline;
    display: block;
    width: 100px;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor:pointer;
    text-align: center;
}

.next-btn:active{
    margin: 24px 0 0;
    background: #ea352d;
    border: 1px splid #ea352d;
    color: #33CC00;
    text-decoration:underline;
    display: block;
    width: 100px;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor:pointer;
    text-align: center;
}





