= render "items/header"
.Signup
  .Signup__main
  %h2.Signup__title 登録が完了しました
  .Signup__head
    .Signup__head__form
      .Signup__head__form__actions
        = link_to root_path,class: 'next-btn' do
          トップへ戻る 
= render "items/footer"