// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* {
    box-sizing: border-box;
}

*/

/*bodyの形成*/
body {
    zoom: 1;
}

/*ヘッダーの形成*/
.Header {
  padding: 0 60px;
  &__main {  
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0; 
    &__top {
      position: relative;
      display: flex;
      align-items: center;
      .icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
      &__title {
        position: relative;
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        .title {
          
        }
      }
      &__search {
        margin-left: auto;
        width: 100%;
        &__form{
          width: 100%;
          display: flex;
          margin-bottom: 5px;
          &__input {
            width: calc( 100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          &__btn {
            width: 36px;
            border: 0;
            cursor: pointer;
            font-size: 8px;
            background-color: #3CCACE;
            
          }
        }
      }
    }    
    &__sub {
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      &__top {
        position: relative;
        display: flex;
        line-height: 38px;
        &__category {
          text-decoration: none;
          padding: 0;
        }   
        &__brand {
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
        }
      }       
      &__content {
        margin-left: auto;
        display: flex;
        &__login {
          line-height: 38px;
          padding: 0 0 0 16px;
        } 
        &__new {
          line-height: 38px;
          padding: 0 0 0 16px;
        }
      }  
    }
  }
}

/*メインの形成*/
.Main{
  &__top{
    background-color: gray;
    height: 560px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__list{
        text-shadow: 0 0 5px;
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__comment{
        text-shadow: 0 0 5px;
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__img{
        display: flex;
        margin: 24px 0 0 0;
        &__list{
          margin-right: 10px;
        }
      }
    }
  }
  &__choose{
    &__content{
      background-color: greenyellow;
      padding: 60px 20px;
      &__list{
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
      }
      &__text{
        text-align: center;
        display: flex;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
        &__list{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: left;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  &__subTitle{
    background-color: gray;
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__comment{
      color: #fff;
      text-shadow: 0 0 5px;
      text-align: left;
      max-width: 1040px;
      margin: 0 auto;
      &__text{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__list{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__top{
        display: flex;
        &__list{
          margin-right: 10px;
        }
      }
    }
  }
  &__keyFeatures{
    padding: 60px 100px;
    background-color: greenyellow;
    &__content{
      font-size:27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__items{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      &__img {
        display: flex;
        flex-direction: column;
        width: calc( 1/3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__pay{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        &__subTitle{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  &__pickUp {
    padding: 80px 0 40px 0;
    background-color: #f8f8f8;
  
    &__heads {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__box{
      &__head{
        text-align: center;
        &__box{
          font-size: 24px;
          text-decoration: none;
        }
        &__title{
          font-weight: bold;
          color: #3ccace;
        }
      }
      &__list{
        width: 0px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around; 
        &__img{
          width: 220px;
          display: inline-block;
          float: left;
          &__text {
            width:150px;
            background-color: #fff;
            display: inline-block;
            &__head {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
            }
            &__body{
              background-color: white;
              color: #333;
              padding: 16px;  
              .Main__name{
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .Main__details{
                font-size: 16px;
                &__tax{
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  &__yen {  
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;
                  }
                  &__like { 
                    display: inline-block;
                    font-size: inherit;
                    text-rendering: auto;           
                    &__icon{
                      display: inline-block;
                      font-size: inherit;
                      text-rendering: auto;
                    }
                  }
                }
                &__included{
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

/*バーナー*/
.AppBanner{
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner{
    color: #333;
    text-align: center;
    &__title{
      text-shadow: 0 0 5px;
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text{
      font-size: 35px;
      text-shadow: 0 0 5px;
    }
    &__icon{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      &__img{
       margin-right: 10px;
      }
    }
  }
}


/*フッターの形成*/
.Footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center; 
  &__contents{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .Footer__content{
      display: flex;
      flex-direction: column;
      width: calc( 1/3 * 100%);
      margin: 0 2% 0 0;
      &__head{
       margin: 0 0 20px;
       font-size: 16px;
       font-weight: bold;
      }
      &__lists{
        list-style: none;
        .Footer__content__list{
          &__text{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  &__logo{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    &__text{
      font-size: 8px;
    }
  }
  &__text{
    font-size: 14px;
  }  
}   
