%aside.Appbanner
  .Appbanner__inner
    %h2.Appbanner__inner__title
      だれでもかんたん、人生を変えるフリマアプリ
    %p.Appbanner__inner__text
      今すぐ無料ダウンロード！
    .Appbanner__inner__icon
      = link_to root_path,class: "Appbanner__inner__icon__img" do
        App Store
      = link_to root_path,class: "Appbanner__inner__icon__img" do
        Google Play