.Footer
  %ul.Footer__contents
    %li.Footer__content
      %h2.Footer__content__head
      %ul.Footer__content__lists
        %li.Footer__content__list
          %a.Footer__content__list__text
        %li.Footer__content__list
          %a.Footer__content__list__text
        %li.Footer__content__list
          %a.Footer__content__list__text
        %li.Footer__content__list
          %a.Footer__content__list__text
    %li.Footer__content
      %h2.Footer__content__head
      %ul.Footer__content__lists
        %li.Footer__content__list
          %a.Footer__content__list__text
        %li.Footer__content__list
          %a.Footer__content__list__text
        %li.Footer__content__list
          %a.Footer__content__list__text
        %li.Footer__content__list
          %a.Footer__content__list__text
    %li.Footer__content
      %h2.Footer__content__head
      %ul.Footer__content__lists
        %li.Footer__content__list
          %a.Footer__content__list__text
        %li.Footer__content__list
          %a.Footer__content__list__text
        %li.Footer__content__list
          %a.Footer__content__list__text
        %li.Footer__content__list
          %a.Footer__content__list__text
      .Footer__logo
        %a.Footer__logo__text
      %p.Footer__logo__logo
    
