.Header
  .Header__main
    .Header__main__top
      %h1.icon
        %a
      .MainHeader__main__top__title
        %h1.title FURIMA
      .MainHeader__main__top__search
        -#= form_for @form, url: search_index_path,method: :get,html: {class: "Main__top__search__form"} do |f|
          -#.Form__top__contents
            -#= f.text_field :keyword,{placeholder: "何をお探しですか？", class: 'Form__top__search__input'}
          -#= f.submit '検索', class: 'Form__submit'
    .Header__main__sub
      %ul.Header__main__sub__top
        %li.Header__main__sub__top__category
          カテゴリー
        %li.Header__main__sub__top__brand
          ブランド
      %ul.Header__main__sub__content
        %li.Header__main__sub__content__login
          ログイン
        %li.Header__main__sub__content__new
          新規登録
            
  
      
      