.Header
  .MainHeader
    .MainHeader__top
      %h1.icon
        %a
      .MainHeader__top__title
        %h1.title p
      .MainHeader__top__search
        -#= form_for @form, url: search_index_path,method: :get,html: {class: "Main__top__search__form"} do |f|
          -#.Form__top__contents
            -#= f.text_field :keyword,{placeholder: "何をお探しですか？", class: 'Form__top__search__input'}
          -#= f.submit '検索', class: 'Form__submit'
    .SubHeader
      %ul.SubHeader__content__list
        %li.SubHeader__content__list__category
          カテゴリー
        %li.SUbHeader__content__list__brand
          ブランド
      %ul.SubHeader__list__content
        %li.SubHeader__list__content__login
          ログイン
        %li.SubHeader__list__content__new
          新規登録
            
  
      
      