.Main
  %section.Main__top
    .Main__top__content
      %h2.Main__top__content__list
      %p.Main__top_content__comemnt
      .Main__top__content__top__list
        %a.Main__top__content__top__list__img
        %a.Main__top__content__top__list__img
  %section.Main__choose
    .Main__choose__content
      %h2.Main__choose__content__list
        FURIMAが選ばれる3つの理由
      %ul.Main__choose__content__list__text
        %li.Main__choose__content__list__text__list
        %li.Main__choose__content__list__text__list
        %li.Main__choose__content__list__text__list
  %section.Main__subIitle
    .Main__subTitle__comment
      %h2.Main__subTitle__comment__text
        会員数日本一位
      %p.Main__subTitle__commant__list
      .Main__subTitle__comment__top
        %a.Main__subTitle__comment__top__list
        %a.Main__subTilte__comment__top__list
  %section.Main__keyFeatures
    .Main__keyFeatures__content
      %h2.Main__keyFeatures__content__text
        FURIMAの特徴
      .Items
        %section.Item
          %figure.Item__img
          %h3.Item__subTitle
          %p.Item__detail
        %section.Item
        %figure.Item__img
          %h3.Item__subTitle
          %p.Item__detail
        %section.Item
          %figure.Item__img
          %h3.Item__subTitle
          %p.Item__detail
        %section.Main__pickUp
          %h2.Main__pickUp__heads
          .Main__pickUp__box
            .Main__pickUp__head
              %a.Main__pickUp__head__box
              %h3.Main__pickUp__head__box__title
            .Main__pickUp__lists
              .Main__pickUp__list
                %a.Main__pickUp__list__img
                  %figure.Main__pickUp__list__img__text
              .Main__pickUp__list
                %a.Main__pickUp__list__img
                  %figure.Main__pickUp__list__img__text
              .Main__pickUp__list
                %a.Main__pickUp__list__img
                  %figure.Main__pickUp__list__img__text
              .Main__pickUp__list
                %a.Main__pickUp__list__img
                  %figure.Main__pickUp__list__img__text
        %section.Main__pick
          %h2.Main__pick__heads
          .Main__pick__box
            .Main__pick__head
              %a.Main__pick__head__box
                %h3.Main__pick__head__box__title
            .Main__pick__lists
              .Main__pick__list
                %a.Main__pick__list__img
                  %figure.Main__pick__list__img__text
              .Main__pick__list
                %a.Main__pick__list__img
                  %figure.Main__pick__list__img__text
              .Main__pick__list
                %a.Main__pick__list__img
                  %figure.Main__pick__list__img__text
              .Main__pick__list
                %a.Main__pick__list__img
                  %figure.Main__pick__list__img__text


