// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color: #f8f8f8;

.main__form {
  background-color: $color;
  height: 2000px;
  .inputform {
    height: 224px;
    width: 670px;
    padding: 30px 0 0 0px;
    margin: 0 0 0 700px;
    background-color: white;
    border: 1px solid;
    border-color: $color;
    text-align: center;
    &__header__top {
      margin:20px 0 20px 0;
      padding: 0 0 0 75px;
      display: flex;
      font-size:15px;
      font-weight: 600;
      position: relative;
      .inputform__header__title {
        padding: 0 30px 0 0;
      }
      .inputform__header__hissu {
        width: 8%;
        background-color:red;
        color: $color;
        border-radius: 3px;
        text-align: center;
      }
      .inputform__header__nini {
        background-color:gray;
        color: $color;
        border-radius: 3px;
        width: 8%;
        text-align: center;
      }
    }
    &__body {
      height: 50px;
      &__upload {
        height: 100px;
        width: 80%;
        &__number {
          margin: 25px 0 0 0;
        }
      }
      .inputform__product {
        height: 400px;
        width: 670px;
        padding: 30px 0 0 0;
        background-color: white;
        border: 1px solid;
        border-color: #f8f8f8;
        
        .inputform__header__item {
          display: flex;
          padding: 0 0 0 50px;
          font-weight: 600;
          .inputform__header__title__item {
            margin: 0 30px 0 0;
          }
        
        }
        .inputform__body__upload {
          margin: 0 0 30px 0;
          
        }
      } 
      
      select {
        height: 40px;
        width: 500px;
        cursor: pointer;
      }
      input[type="text"] {
        height: 40px;
        width: 500px;
      }
      input[type="number"] {
        height: 45px;
        width: 400px;
      }
      input[type="submit"] {
        height: 60px;
        width: 500px;
        margin: 60px 0 0 15px;
        background-color: red;
        color: $color;
        font-size: 25px;
        font-weight: 700;
        border-radius: 30px;
        cursor: pointer;
        border: none;
        outline: none;
        box-shadow: 0 5px #bfbfbf;
      }
      input[type="submit"]:hover {
        background-color: pink;
      }
      input[type="submit"]:active {
        box-shadow: none;
      }
      
      label {
        color: $color;
        background: red;
        padding: 10px 30px;
        border-radius: 10px;
        display: inline-block;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0 5px #bfbfbf;
        margin-top: 40px;
      }
      label:hover {
        background-color: pink;
      }
      label:active {
        box-shadow: none;
      }
      .inputform__header {
        margin:20px 0 20px 0;
        display: flex;
        font-size:15px;
        font-weight: 600;
        position: relative;
        .inputform__header__title {
          padding: 0 30px 0 0;
        }
        &__hissu {
          width: 8%;
          background-color:red;
          color: $color;
          border-radius: 3px;
          text-align: center;
        }
        &__nini {
          background-color:gray;
          color: $color;
          border-radius: 3px;
          width: 8%;
          text-align: center;
        } 
      }
      
      .inputform__price {
        height: 200px;
        width: 600px;
        padding: 30px 0 0 70px;
        background-color: white;
      }
      .inputform__submit {
        height: 200px;
        width: 600px;
        padding: 30px 0 0 70px;
        background-color: white;
      }
    }
  }
}    
        
       
      
          
   